# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Folders
.vs/
.solutions/
Debug/
Release/

# Executables
*.exe
*.out
*.app
*.suo
*.json
*.sqlite
*.tlog
*.pdb
*.idb
